@mixin main_container {
  background-image: url("../../public/assests/backgroundimage.svg");
  width: auto;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
}

@mixin logo {
  display: flex;
  margin: 2.5rem 0rem;
  justify-content: center;
}

@mixin container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  margin-left: 8rem;
  border: 2px;
}

@mixin background_container {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-xSmall) {
    height: 80%;
  }

  @media (max-width: $breakpoint-xs) {
    height: 80%;
  }

  @media (max-width: $breakpoint-sm) {
    height: 80%;
  }
}

@mixin heading {
  color: var(--bs-orange);
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  margin: 1rem 0rem;
  line-height: 22px;
}

@mixin input_box {
  font-style: var(--bs-font-style);
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  color: var(--bs-orange);
  margin-bottom: 1rem;
  width: 100%;
}

@mixin email_wrapper {
  background-color: var(--bs-black) !important;
  border-radius: var(--bs-border-radius);
  padding: 12px 20px;
  margin-top: 0.25rem;
  font-style: var(--bs-font-style);
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-body-font-size);
  border-style: none;
  border: none !important;
  outline: none;
}

@mixin password_wrapper {
  @include email_wrapper;
}

@mixin button_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: var(--bs-green) !important;
  border-radius: var(--bs-border-radius);
  color: var(--bs-white) !important;
  font-size: var(--bs-font-size);
  letter-spacing: 0.05em;
  padding: 12px 40px;
  box-shadow: none;
  cursor: var(--bs-cursor);
  border: 1px solid transparent;
  width: 100%;
  margin-top: 2rem;
}

@mixin checkbox_wrapper {
  font-style: var(--bs-font-style);
  font-weight: var(--bs-body-font-weight);
  font-size: var(--bs-font-size);
  line-height: var(--bs-line-height);
  color: var(--bs-grey);
  margin-top: 0.5rem;
  position: relative;
}

@mixin signin {
  margin-top: 6rem;
  color: var(--bs-grey);
  cursor: pointer;
  font-style: var(--bs-font-style);
  font-size: var(--bs-font-size);
  line-height: var(--bs-line-height);
  font-weight: var(--bs-body-font-weight);
  text-decoration-line: underline;
}

@mixin girlImg_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;

  img {
    height: 650px;
    width: 600px;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  overflow: hidden;

  @media (max-width: $breakpoint-xSmall) {
    display: none;
  }

  @media (max-width: $breakpoint-ms) {
    img {
      height: 500px;
      width: 430px;
      margin-top: 3rem;
      margin-left: 3rem;
    }
  }
}

@mixin error {
  color: var(--bs-red);

  p {
    white-space: initial;
  }
}