.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
}

.assign_Modal_Container {
  position: relative;
  width: 280px;
  height: 380px;
  background-color: white;
  border-radius: 4px;
  box-shadow: var(--dropdown-menu-elevation, 0 1px 10px 0 black);
  display: flex;
  flex-direction: column;
}

.search_Container {
  display: flex;
  width: 280px;
  height: 47px;
  border-bottom: 1px solid rgb(232, 234, 237);
  .sub_search_Container {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .search_bar {
      color: rgb(91, 98, 108);
      margin-left: 15px;
      font-family: 'BlinkMacSystemFont' !important;
    }

    .search_bar::placeholder {
      color: rgb(91, 98, 108);
      font-size: 15px;
      font-family: 'BlinkMacSystemFont' !important;
    }

    .search_bar:focus-visible {
      outline: none;
    }
  }
}

.list_container {
  width: 280px;
  height: 333px;

  .list_items_container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(173, 179, 189);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  .no_data_found_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    .no_data_found {
      color: black;
    }
  }

  .list_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 44px;
    padding: 0px 8px;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;

    &:hover,
    &.selected {
      background-color: rgb(226 229 235);
      width: 100%;
      height: 44px;
      transition: background-color 0.3s ease;
      background-clip: content-box;
    }

    .profile_img {
      border-radius: 50%;
      margin-right: 12px;
      margin-left: 8px;
    }
  }

  .list_item_info_container {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 100%;
    color: rgb(91, 98, 108);
    font-size: 14px;
    justify-content: center;
    font-family: 'BlinkMacSystemFont' !important;
    .list_item_fullname {
      height: 18px;
    }
    .list_item_email {
      height: 18px;
      font-size: 8px;
    }
  }
}
