@import './mixins.scss';
@import './variable.scss';

.main_container {
  @include main_container;
}

.background_container {
  @include background_container;

  @media (max-width: $breakpoint-xSmall) {
    margin: 1rem 1rem;
  }
  @media (max-width: $breakpoint-xs) {
    margin: 1rem 1rem;
  }
  @media (max-width: $breakpoint-sm) {
    margin: 1rem 1rem;
  }
  @media (max-width: $breakpoint-md) {
    margin: 1rem 1rem;
  }
  @media (max-width: $breakpoint-ms) {
    margin: 1rem 1rem;
  }
  @media (max-width: $breakpoint-lg) {
    margin: 1rem 1rem;
  }
}

.container {
  @include container;
  padding: 54px 40px;
  width: 425px;
  position: inherit;
  background-color: rgb(232,242,246);
  opacity: 0.8;
  
  .subheading {
    color: #5c5c5c;
  }

  @media (max-width: $breakpoint-xs) {
    margin: 1rem 1rem;
  }

  @media (max-width: $breakpoint-sm) {
    margin: 1rem 1.5rem;
  }
}

.formWrapper > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.formWrapper .button_wrapper {
  width: 100%;
  button {
    font-weight: 600;
  }
}

.formWrapper .btnStyle {
  width: 100%;
  span {
    font-weight: 700;
  }
}

.validation_Error {
  width: 100%;
  padding-left: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  @include logo;
  width: 170px;
}

.forgotDescsec {
  padding-left: 8px;
  color: #124260;
  letter-spacing: 1px;
}

.headDesc {
  @include headDesc;
  margin: 0.5rem;
}

.heading {
  @include heading;
  text-align: center;
  margin-bottom: 1rem;

  @media (max-width: $breakpoint-xSmall) {
    width: 100%;
  }
}

.subheading {
  text-align: center;
  color: #003556;
  @media (max-width: $breakpointregister-xs) {
    font-size: 13px;
  }
}

.email img,
.password img {
  display: flex;
  justify-content: center;
}

.input_box {
  @include reg_input_box;
  border-bottom: 2px solid white;
  @media (max-width: $breakpointregister-xs) {
    width: 100%;
  }
}

.error_email_wrapper {
  width: 100%;
  padding: 3px !important;
  border: none !important;
}

.error_email_wrapper ::placeholder {
  @include email_wrapper;
  color: #ff0000;
  @media (max-width: $breakpointregister-xs) {
    font-size: 12px;
  }
}

.email_wrapper {
  @include email_wrapper;
  padding: 3px !important;
}

.password_wrapper {
  @include email_wrapper;
}
.email_wrapper ::placeholder {
  @include email_wrapper;
  width: 100%;
  @media (max-width: $breakpointregister-xs) {
    font-size: 12px;
  }
}

.password_wrapper ::placeholder {
  @include email_wrapper;
}

.checkbox_wrapper {
  @include checkbox_wrapper;
}

.error {
  @include error;
  font-size: 10px;
  position: absolute;
  left: 2px;
  bottom: -22px;
  @media (max-width: $breakpointregister-sm) {
    font-size: 8px;
  }
  @media (max-width: $breakpointregister-xs) {
    font-size: 5px;
  }
}

.forgetbutton {
  @include button_wrapper;
  margin-top: 20px;
  color: white !important;
}

.disabledforgetbutton {
  @include button_wrapper;
  margin-top: 18px;
  color: white !important;
  background-color: #7297b1 !important;
}

.SignIn_button {
  @include button_wrapper;
  margin: 1.5rem 0rem;

  @media (max-width: $breakpointregister-xs) {
    width: 100%;
  }
}

.disabled_signin_button {
  @include button_wrapper;
  margin: 1.5rem 0rem;
  color: white !important;
  background-color: #7297b1 !important;
}

.sign_accout {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.sign_accout span {
  @media (max-width: $breakpointregister-xs) {
    font-size: 13px;
  }

  a {
    @media (max-width: $breakpointregister-xs) {
      font-size: 13px;
    }
  }
}

.log_acc_cls {
  display: flex;
  justify-content: center;
  margin: 16px !important;
  @include signin;
  text-decoration-line: none;
  color: #003556 !important;
}

.log_acc_cls span {
  @media (max-width: $breakpointregister-xs) {
    font-size: 13px;
  }

  a {
    @media (max-width: $breakpointregister-xs) {
      font-size: 13px;
    }
  }
}

.link_sign {
  font-weight: 900;
  text-decoration-line: underline;
}
.signin {
  @include signin;
  text-decoration-line: none;
  color: #003556 !important;
  margin: 16px;
}

.signin a {
  color: var(--bs-orange);
  width: -webkit-fill-available;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;

  @media (max-width: $breakpointregister-xs) {
    margin-right: 0;
  }
}

.error_message {
  color: var(--bs-red);
}
.signin {
  color: black;
}

.forget_desc a {
  @media (max-width: $breakpointregister-xs) {
    font-size: 12px;
  }
}

.input_box input {
  color: black;
}

.password_wrapper {
  width: 100%;
}

.signin_withgoogle {
  border: 2px solid #003556;
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: Century gothic;
  color: #003556;
  justify-content: center;
  margin: 1.5rem 0rem 1rem 0rem;
  border-radius: 8px;
  gap: 10px;
  font-weight: bold;
}
.signin_withgoogle .googleButton {
  color: #003556;
  border: none;
  background-color: transparent !important;
}

.rememberMe {
  padding: 0px 5px;
  @media (max-width: $breakpointregister-xs) {
    font-size: 13px;
  }
}

.checkbox_wrapper [type='checkbox'] {
  color-scheme: white;
  color: white;
}

.checkbox_wrapper {
  position: static;
  margin: 1rem 0rem 0rem 0rem;
  align-self: flex-start;
  display: flex;
}

.heading {
  margin-top: 20px;
  font-size: 2rem;
  color: #003556;
  font-weight: 700;

  @media (max-width: $breakpointregister-xs) {
    font-size: 20px;
  }
}

.btnStyle {
  color: #003556 !important;
  border: 1px solid !important;
  width: 330px;
  margin-top: 10px;
  background-color: transparent !important;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnStyle span {
  @media (max-width: $breakpointregister-xs) {
    font-size: 14px;
  }
}

.flexGap {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.flex_margin {
  margin-top: 18px;
}

.rounded {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.filled_rounded {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(176, 192, 202);
}