@import './mixins.scss';
@import './variable.scss';

.main_container {
  width: 100vw;
  display: flex;
  background-color: rgba(0, 53, 84, 1);
  // position: static;
  min-height: 100vh;
  color: white;
}

.squad_match {
  display: flex;
  flex-direction: column;
  margin: 12px;
  margin-right:30px
}

.abcd {
  width: 100%;
  height: 100%;
}

.wrapper_main {
  display: flex;
  flex-direction: column;
}

.sidebar_wrapper {
  z-index: 99;
  height: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  line-height: 48px;
  font-size: 40px;
  padding: 0px 20px;
  flex-wrap: wrap;
}


.desc_container {
  display: flex;
  flex-direction: column;
}

.room_wrapper {
  display: flex;
  // justify-content: space-between;
}

.imgSection img {
  height: 365px;
  border-radius: 30px;
  width: 100%;

}
.room_container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
flex-wrap: wrap;
  width: 100%;
}

.heading h1 {
  font-size: 28px;
  font-weight: 700;
}

.winnings {
  display: flex;
justify-content: space-between;
margin: 10px;
flex-wrap: wrap;
}

.tournament_slider {
  display: flex;
//  flex-wrap: wrap;
  margin: 10px 3px;
}

.winning_prize {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: Century Gothic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin: 15px;
}

.winning_prize span, .id_password span, .image_text span{
  font-size: 14px;
  font-family: Century Gothic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.spot_line {
  border-top: 5px solid white;

  display: flex;
  gap: 100px;

}

.join_button {
  background-color: rgba(255, 122, 0, 1) !important;
  color: white !important;
  // border: 1px solid black;
  display: flex;
  gap: 40px;
  width: 20%;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.registeredmatches {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.container2 {
  display: flex;
  align-items: center;
    justify-content: space-around;
  padding: 4px 10px;
  flex-wrap: wrap;
}
.container2 img{
 margin-left: 3%;
}

.Tournaments {
  padding: 0px 15px;
  font-family: Century Gothic;
  font-weight: 400;
  font-size: 16px;
}

.content .dashboard {
  display: flex;
  flex-direction: column;
}

.room_create {
  display: flex;
  gap: 50px;
  padding: 8px 0px;
  border-bottom: 2px solid white;
}

.id_password {
  display: flex;
  gap: 50px;
  margin-top: 5px;
}

.slidebar img {
  border-radius: 4px;
  margin-right: 10px;
}

.register_match {
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  font-family: Century Gothic;
  letter-spacing: 0.02em;
  margin: 10px;
}

.head_desc{
  font-size: 27px;
  font-weight: 600;
  line-height: 40px;
  font-family: Century Gothic;
}

.subhead_desc{
  font-size: 14px;
  font-weight: 400;
  font-family: Century Gothic;
}

.survival_content{
  font-family: Century Gothic;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
}

.bar_font{
  font-size: 14px;
  font-family: Century Gothic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  margin-top: 5px;
}

.content_wrapper{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.tvm_font{
  font-size: 14px;
  font-family: Century Gothic;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.image_text{
  position: absolute;
  padding-left: 5px;
  bottom: 8px;
}

.view_more{
  margin-left: 70px;
}

.sort_btn{
  margin-right: 10px;
}

//Slider CSS

.carusol {
  width: 100%;
}

.row {
  display: flex;
  overflow: hidden;
}

.imagegroup {
  display: flex;
  gap: 3rem;
  width: 350px;
  height: 170px;
  margin-bottom: 20px;
}
 
.imagegroup img {
  flex-shrink: 0;
  object-fit: cover;
}

.imagegroup {
  animation: travel 1s ease-in-out infinite;
}

@keyframes travel {
  0%,
  100% {
    transform: translate3d(10, 20, 0);
  }
 
  100% {
    transform: translate3d(-200%, 0, 0);
  }
}

// regitered match component 

.roomdetails_container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
 .zeromin{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   margin-left: 20px;
   text-align: center;
   
 }
 .zeromin h1{
   font-weight: bold;
   font-size: 30px;
   margin-top: 3px;
   margin-bottom: 3px;
 }
 .roomId span{
  font-size: 14px;
  margin-right: 18px;
 }
 .roomPwd span{
  font-size: 14px;
  margin-right: 10px;
 }
 .countdown{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }
 .countdown h2{
  font-weight: bold;
  font-size: 25px;
  margin-top: 3px;
  margin-bottom: 3px;
 }
 .sendMailBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ff7a00;
  padding: 10px;
  margin-left: 20px;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  font-size: 15px;
  background-color: #ff7a00;
  color: white;
  font-size: 14px;
  font-weight: bold;
  @media (max-width: $breakpoint-md) {
   margin:20px 10px 0px 0px
  }
}
.sendmailbtnContainer{
  @media (max-width: $breakpoint-md) {
    margin:20px 10px 0px 0px
   }
}

.roomdetails{
  display: flex;
  flex-direction: column;
}
.roomcreds{
  display: flex;
  flex-direction: column;

}
.roomId {
  font-size: 12px;
}
.Teammembers{
  margin-top: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  font-size: x-large;
  font-weight: bold;
  padding-left: 3%;
}

.reviewsContainer {
  margin-top: 30px;
  padding-left: 2%;
  @media (max-width: $breakpoint-md) {
    display: flex;
    justify-content: center;
   }
}
.reviewCard {
  color: white;
  border: 1px solid #ff7a00;
  border-radius: 5px;
  padding: 10px;
  width: 330px;
}
.profile {
  margin-left: 5px;
  border-radius: 10px;
  height: 70%;
}
.reviews {
  display: flex;
  align-items: center;
}
.reviewer {
  padding-left: 15px;
}
.name h2 {
  color: #ff7a00;
  font-size: 20px;
  font-weight: bold;
}
.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewer p {
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
}
.reviewer span {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.greenCircle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: green;
}

// carousel
.rec .rec-arrow-right {
  display: none;
 }
 .rec-arrow-left {
   display: none;
 }
 .rec-dot_active {
   background-color: #0094da;
 }
 .rec-dot_active {
   background-color: #0094da !important;
   box-shadow: 0 0 1px 3px #0094da !important;
 }
 .rec-dot:focus .rec-dot:hover {
   box-shadow: 0 0 1px 3px #0094da !important;
   background-color: #0094da;
 }
 .rec-dot_active:focus {
   box-shadow: #0094da !important;
   background-color: #0094da !important;
 }
 .rec-dot_active:hover {
   background-color: #0094da !important;
   box-shadow: 0 0 1px 3px #0094da !important;
 }
 
 .rec-arrow {
   background-color: white !important;
   transition: all 0.3s ease;
   font-size: 1.1rem !important;
   color: #0094da !important;
 }
 
 
 .rec-arrow:hover:not(:disabled) {
   transform: scale(1.2);
   box-shadow: 0 0 1px 3px #0094da !important;
 }
 .rec-dot:hover {
   box-shadow: 0 0 1px 3px #0094da !important;
 }
 .rec-dot {
   margin-top: 30px !important;
 }
 
 .rec-carousel-item{
   padding-right:20px;}
 
   .rec rec-arrow{
     display: none;
   }
.rec .rec-arrow-left{
  display: none;
}