@import './mixins.scss';
@import './variable.scss';

.main_container {
  background-image: url('../../public/assests/banner.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-left: 100px;
  @media (max-width: $breakpoint-md) {
    margin-left: 0px;
  }
}
.logo img {
  height: 100px;
  @media (max-width: $breakpoint-md) {
    height: 50px;
  }
}
.menu-toggle {
  display: none;
  @media (max-width: $breakpoint-md) {
    display: block;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 100px;
  @media (max-width: $breakpoint-md) {
    // display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0;
    width: 100%;
    margin-right: 10px;
    background-color: #333;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  li {
    align-items: center;
    margin-right: 1rem;
    @media (max-width: $breakpoint-md) {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.menuicon {
  display: none;
  @media (max-width: $breakpoint-md) {
    display: block;
    cursor: pointer;
  }
}
.loginBtn {
  color: white !important;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
  background: none;
  border: 1px solid white;
  padding: 4px 20px 4px 24px;
  border-radius: 8px;
  margin-left: 30px;
  gap: 8px;
  align-items: center;
}
.menuToggle {
  display: none;
  @media (max-width: $breakpoint-md) {
    display: block;
    cursor: pointer;
    color: white;
  }
}
.banner_center_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.banner_center_text h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  letter-spacing: 36px;
  color: #003554;
  font-weight: 600;
  margin-top: 290px;
}
.banner_subheading {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 29px;
  margin-top: 100px;
}
.rn_text {
  font-size: 20px;
  color: white;
  padding-top: 40px;
  letter-spacing: 10px;
  animation: textmove 16s linear infinite;
}
@keyframes textmove {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.upcoming_mathces_container {
  background: black;
}
.upcoming_mathces {
  display: flex;
  justify-content: 'center';
  flex-direction: column;
  align-items: center;
  margin-top: 6%;
}
.upComingHeading {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ff7a00;
}
.upComingPara {
  font-weight: 100;
  font-size: 16px;
  color: white;
  text-align: center;
  width: 50%;
}
.upcoming_mathces_sub_container {
  display: flex;
  color: white;
  align-items: center;
  margin-top: 10%;
  column-gap: 7%;
}
.banner_bgmi_img {
  width: 50%;
}
.banner_image {
  width: 100%;
}
.rn_images_container {
  display: flex;
  width: 60%;
  padding: 2% 10% 5% 2%;
  animation: imagemove 6s linear infinite;
}
@keyframes imagemove {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-30%);
  }
}
.rn_images {
  height: 150px;
}
.time_container {
  display: flex;
  flex-direction: column;
}
.prizepool {
  display: flex;
  column-gap: 5%;
  width: 100%;
  margin-top: 5%;
  column-gap: 20%;
}
.time_container {
  width: 50%;
}
.prize_container h2 {
  padding-top: 10px;
}
.fee_container h2 {
  margin-top: 10px;
}
.gameInfo {
  display: flex;
  column-gap: 20%;
  margin-top: 8%;
}
.game{
  display: flex;
  flex-direction: column;
}
.game span{
  margin-top: 10px;
}
.range_container{
  display: flex;
  margin-top: 8%;
  column-gap: 12%;
}
.range{
  display: flex;
  flex-direction: column;
}
.range span{
  margin-top: 5%;
}
.range input{
  width: 300px;
  border-radius: 8px;
  accent-color:#ff7a00;
}
.joinbtn{
  height: 35px;
  border-radius: 5px;
  border: none;
  align-items: center;
  width: 14%;
  font-size: 16px;
  color: white;
  font-weight: 100;
  background: #ff7a00;
}
.stone{
  color: white;
  position: relative;
  display: flex;
  column-gap: 20%;
  opacity: 0.2;
}
.welcome_Container{
  display: flex;
  // justify-content: space-around;
  
 }
.welcome_subcontainer{
   width: 40%;
   position: absolute;
   left: 46%;

  //  top: 20px;

  }
.welcome_Container h2{
color: rgb(196, 186, 186);
margin-top: 10px;
margin-bottom: 10px;
}
.welcome_Container p{
  color: grey;
  margin-top:35px;
  }
  .choseSection{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    color: white;
    margin-top: 10%;
  }
  .choseSection p{
   margin-top: 1%;
   width: 50%;
   text-align: center;
   color: grey

  }
  .choseSection img{
    margin-top: 8%;
  
 
   }
   .scopeSection{
    height: 50vh;
    background:url('/public/assests/scopesectionbanner.svg');
   }