@import './mixins.scss';
@import './variable.scss';

.main_container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 20px;
  // margin: 30px 30px 30px 30px;
}

.main_container ul {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
  list-style-type: none;
}

.main_container ul li {
  text-decoration: none;
  font-size: 20px;
  margin-left: 30px;
}

.un_list {
  button {
    background-color: transparent;
    border: none;
    height: 23px;
    width: 23px;
    border: 4px;
    padding: 0;
  }
}

.Active {
  border: 1px solid;
  color: white;
  background-color: #ff7a00 !important;
}

.InActive {
  border: none;
  color: white;
  // background-color: lightblue;
}
