@import './mixins.scss';
@import './variable.scss';

.main_container {
  width: 100%;
  background-image: url('/assests/videobanner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.loader {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: white;
  margin-top: 20px;
  margin-left: 40px;
}
.header{
  @media (max-width: $breakpoint-xs) {
    
    margin-left: 4%;
}
}
.sub_container {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  margin-top: 30px;
  padding-left: 2%;
  padding-right: 3%;
}
.header h2 {
  font-size: x-large;
  font-weight: 800;
}
.header span {
  font-size: 15px;
  font-weight: 400;
}
.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  align-items: center;
  text-align: center;
  border: 1px solid #ff7a00;
  padding: 10px;
  width: 120px;
  height: 44px;
  border-radius: 4px;
  font-size: 15px;
  background-color: rgb(0, 53, 84);
  color: #ff7a00;
  font-size: 14px;
  font-weight: bold;
}
.selectContainer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  @media (max-width: $breakpoint-md) {
    flex-direction: column;
    padding-left: 3%;
    display: flex;
    justify-content: center;
  }
  @media (max-width: $breakpoint-xs) {
    padding-left: 2%;
  }
}
.videoCard {
  margin-left: 2%;
  display: flex;
  width: 30%;
}
.centerText {
  margin-top: 15%;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  @media (max-width: $breakpoint-lg) and (min-width: $breakpoint-ms) {
   flex-direction: column;
   width: 20%;
   
}
@media (max-width: $breakpoint-md){
  justify-content: left;
  
}
 
}
.selectContainer {
  position: relative;
}
.sortIcon{
  position: absolute;
  left: 13px;
  top: 16px;
}
.arrowicon{
  position: absolute;
  right: 12px;
  top: 20px;
}
.reviewSection{
  width: 30%;
}
.pagination{
  display: flex;
  justify-content:flex-end !important;
  margin-top:6%;
  color: #ff7a00;
  @media (max-width: $breakpoint-xs) {
    justify-content: center !important;
  }
}