@import '../../styles/mixins.scss';
@import '../../styles/_variable.scss';

.main_container {
  @include main_container;
  // position: relative;
}

.background_container {
  @include background_container;
}

.email img,
.password img {
  height: 20px;
  margin: 0px 2px;
  display: flex;
  justify-content: center;
}

.email_wrapper {
  @include email_wrapper;
  border: 0px solid !important;
}
.password_wrapper {
  @include email_wrapper;
  border: 0px solid !important;
}

.container {
  @include container;
  border: 1px solid;
  margin: 1rem;

  @media (max-width: $breakpoint-sm) {
    width: 90%;
    height: 100%;
    display: flex;
  }
  @media (min-width: $breakpoint-lg) {
    .container {
      margin-top: 2rem;
      height: 80vh;
      overflow: scroll;
    }
  }
}

.logo img {
  @include logo;
  display: flex;
  margin: 0px auto;
  width: 25%;

  @media (max-width: $breakpoint-xs) {
    margin-top: 2rem;
  }

  @media (max-width: $breakpoint-xSmall) {
    margin-top: 2rem;
  }
}

.headDesc {
  @include headDesc;
}

.heading {
  @include heading;

  @media (max-width: $breakpoint-xSmall) {
    width: 100%;
  }
}

.input_box {
  @include input_box;
  border-bottom: 2px solid white;

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.email_wrapper ::placeholder {
  @include email_wrapper;
  width: 100%;
}

.password_wrapper ::placeholder {
  @include email_wrapper;
}

.error {
  @include error;
}

.forgetbutton {
  @include button_wrapper;

  @media (max-width: $breakpoint-xSmall) {
    padding: 12px 30px;
    width: 100%;
  }
}

.SignIn_button {
  @include button_wrapper;

  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}

.signin {
  @include signin;
}

.signin a {
  color: var(--bs-orange);
  width: -webkit-fill-available;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;

  @media (max-width: $breakpoint-xs) {
    margin-right: 0;
  }
}

.error {
  @include error;
}

.signin_withgoogle {
  border: 2px solid #003556;
  display: flex;
  align-items: center;
  font-family: Century gothic;
  color: #003556;
  justify-content: center;
  padding: 10px;
  margin: 1.5rem 0rem 1rem 0rem;
  border-radius: 8px;
  gap: 10px;
  font-weight: bold;
}
.input_box input {
  color: black;
}
.password_wrapper {
  width: 100%;
}

.signin b {
  font-weight: bold;
}
